<div class="nav">
    <a class="logo">StockForum</a>
    <a href="https://finance.naver.com/">종목검색</a>
    <a>인기 글 순위</a>
    <a href="https://finviz.com/">전일 미국시장</a>
    <a href="https://kr.investing.com/equities/52-week-high">52week high</a>
    <a href="https://markets.hankyung.com/consensus">리포트 보는곳</a>
    <a href="https://dart.fss.or.kr/">한국 전자공시</a>
    <a href="https://keep-ones.me/#/paradise-calculator"> 낙원계산기 </a>
    <a> 전략포트폴리오 </a>
    <a> 퀀트투자 history </a>
    <a> 주주의 소리</a>

</div> 